.footer {
  background: #3E3E3E;
}
.footer .container {
  flex-direction: column;
  color: #fff;
}


.footer__list {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -50px;
    padding: 0 20px;
    z-index: 2;
}
.footer__list::before {
    display: none;
    content: "";
    width: 500px;
    height: 500px;
    top: 0px;
    left: -20vw;
    position: absolute;
    background: url(../img/footer-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.footer__list::after {
    content: "";
    width: 700px;
    height: 700px;
    top: -15vh;
    right: -120px;
    position: absolute;
    background: url(../img/footer-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

@media all and (min-width: 1366px) {
  .footer__list::before {
      display: block;
  }
  .footer__list::after {
      right: -25vw;
  }
}
@media all and (min-width: 1720px) {
  .footer__list::before {
      height: 600px;
      width: 600px;
      left: 0;
  }
  .footer__list::after {
      top: 0;
      right: -120px;
  }
}


.footer__text {
 font-size: 24px;
 max-width: 550px;
}
.footer__text--left {
  text-align: left;
}
.footer__text--right {
 text-align: right;
}
@media all and (min-width: 1366px) {
  .footer__text {
   font-size: 32px;
  }
  .footer__text--left {
    text-align: left;
    margin-left: -300px;
  }
  .footer__text--right {
   text-align: right;
   margin-left: 300px;
  }
}
@media all and (min-width: 1720px) {
  .footer__text {
    font-size: 48px;
    max-width: 770px;
    line-height: 62px;
  }
  .footer__text--left {
    text-align: left;
    margin-left: -600px;
  }
  .footer__text--right {
   text-align: right;
   margin-left: 600px;
  }
}

.footer__copyright {
    position: absolute;
    bottom: -1px;
    max-width: 700px;
    width: 80vw;
    text-align: center;
    border-top: #5F5F5F 2px solid;
    font-size: 28px;
    line-height: 0px;
    z-index: 2;
}
@media all and (min-width: 1720px) {
  .footer__copyright {
      border-top: #5F5F5F 3px solid;
  }
}
